{
    "presets": [
        "@babel/preset-react",
        [
          "next/babel"
        ]
    ],
    "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "common": "./common",
          "pages": "./pages"
        }
      }],
      [
        "@babel/plugin-transform-arrow-functions"
      ],
      "@babel/plugin-syntax-dynamic-import"
    ],
      "include": [
        "**/*.js"
    ],
     "env": {
      "development": {
        "plugins": [
          [
            "babel-plugin-styled-components",
            {
              "displayName": true
            }
          ]
        ]
      },
      "production": {
        "plugins": [
          "transform-remove-console"
        ]
      }   
  }
}